<h2 ng-show="hasRight('editMasterData')">Mannschaft bearbeiten</h2>
<h2 ng-show="!hasRight('editMasterData')">{{team.name}}</h2>

<div ng-show="error != null" class="alert alert-danger" role="alert">
	<strong>{{error}}</strong>
</div>

<form ng-show="hasRight('editMasterData')" name="frm">
	<table class="vertTable">
		<tr>
			<th>Name</th>
			<td>
				<input class="form-control" type="text" ng-model="team.name" />
			</td>
		</tr>
		<tr>
			<th>Homepage</th>
			<td>
				<input class="form-control" type="text" ng-model="team.homepage" />
			</td>
		</tr>
	</table>

	<p ng-repeat="s in saisons">
		<label for="cb_{{s.id}}">
			<input type="checkbox" name="saisons" value="{{s.id}}" id="cb_{{s.id}}" ng-model="saisonTeams[s.id]" /> {{s.name}}
		</label>
	</p>

	<p>
		<button class="btn btn-default" ng-click="saveAndClose()">Speichern und Schlie&szlig;en</button>
		<button class="btn btn-default" ng-click="save()">Speichern</button>
	</p>
</form>

<button class="btn btn-default" onclick="window.history.back();">Zur&uuml;ck</button>