<div ng-show="error != null" class="alert alert-danger" role="alert">
	<strong>{{error}}</strong>
</div>

<div ng-show="!hasRight('editMatch', m)">
	<h2>{{saisonTeamsMap[m.id_saison_team1].team.name}} <b>vs</b> {{saisonTeamsMap[m.id_saison_team2].team.name}} {{m.goal1}} : {{m.goal2}}</h2>
	<p>{{m.type | matchTypeLong}}</p>
	<p>{{m.date}}</p>
	<h3 ng-show="!!m.description">Beschreibung</h3>
	<p ng-bind-html="m.description"></p>
</div>

<form name="frm" ng-show="hasRight('editMatch', m)">
	<p>
		<div class="col-xs-3">
			<select class="form-control" ng-model="m.id_saison_team1" ng-options="st.id as st.team.name for st in saisonTeams"></select>
		</div>
		<div class="col-xs-1">
			<b>vs</b>
		</div>
		<div class="col-xs-3">
			<select class="form-control" ng-model="m.id_saison_team2" ng-options="st.id as st.team.name for st in saisonTeams"></select>
		</div>
		<div class="col-xs-2">
			<input class="form-control" type="text" ng-model="m.goal1" />
		</div>
		<div class="col-xs-1">
			<b>:</b>
		</div>
		<div class="col-xs-2">
			<input class="form-control" type="text" ng-model="m.goal2" />
		</div>
	</p>
	<p>
		<select class="form-control" ng-model="m.type" ng-options="st as (st | matchTypeLong) for st in ['TOURNAMENT', 'FRIEND']"></select>
	</p>
	<p>
		<input class="form-control" type="text" ng-model="m.date" />
	</p>
	<p>&nbsp;</p>
	<div ng-cloak ng-hide="isReady" class="highlight">
		Initialising ...
	</div>

	<div ng-cloak ng-show="isReady">
		<textarea ckeditor="editorOptions" name="editor" ng-model="m.description"></textarea>
	</div>

	<p>&nbsp;</p>


	<div ng-include="'app/components/Match/Player.html'" ng-controller="MatchPlayers1Ctrl"></div>


	<div ng-include="'app/components/Match/Player.html'" ng-controller="MatchPlayers2Ctrl"></div>

	<p>
		<button class="btn btn-default" ng-click="saveAndClose()">Speichern und Schlie&szlig;en</button>
		<button class="btn btn-default" ng-click="save()">Speichern</button>
		<button class="btn btn-default" onclick="window.history.back();">Zur&uuml;ck</button>
	</p>
</form>


