<html ng-app="LeagueManager">
<head>
	<meta charset="utf8" />
	<title>{{rootScope.title}}</title>
	<link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css">
	<link rel="stylesheet" href="assets/libs/ng-ckeditor.css">
	<link rel="stylesheet" href="assets/css/app.css">
</head>
<body>
	<nav class="navbar navbar-inverse">
		<div class="container-fluid">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="#/">{{title}}</a>
			</div>
			<div class="collapse navbar-collapse" id="myNavbar">
				<ul class="nav navbar-nav">
					<li ng-repeat="site in sites">
						<a href="#/{{site.id}}">{{site.title}}</a>
					</li>

					<li><a href="#/Matches">Spiele</a></li>
					<li><a href="#/Player/RankSaison">Torjäger</a></li>
					
					<li ng-show="hasRight('userManagement')"><a href="#/Users">Benutzer</a></li>
					
					<li class="dropdown">
						<a href class="dropdown-toggle" data-toggle="dropdown">Saison {{selectedSaison.name}} <span class="caret"></span></a>
						<ul class="dropdown-menu">
							<li ng-repeat="s in saisons"><a href ng-click="changeSaison(s)">{{s.name}}</a></li>
						</ul>
					</li>
					
				</ul>
				<!-- 
				<select ng-model="selectedSaisonId" ng-options="s.id as s.name for s in saisons">
				</select>
					-->
				<ul class="nav navbar-nav navbar-right">
					<!-- <li><a href="#"><span class="glyphicon glyphicon-user"></span>Sign Up</a></li> -->

					<li ng-show="currentUser == null"><a href="#/Login"><span class="glyphicon glyphicon-log-in"></span>Login</a></li>

					<li ng-show="currentUser != null"><a href="#/User/{{currentUser.id}}"><span class="glyphicon glyphicon-user"></span>{{currentUser.firstname}} {{currentUser.lastname}}</a></li>
					<li ng-show="currentUser != null"><a href="#/Logout"><span class="glyphicon glyphicon-log-out"></span>Logout</a></li>
				</ul>
			</div>
		</div>
	</nav>

	<div class="container">
		<div ng-view></div>
	</div>

	<footer class="footer">
		<p></p>
		<p class="text-muted">
			<span class="glyphicon glyphicon-copyright-mark"></span> Holthausener Sportverein
				| <a href="#/Impressum">Impressum</a>
		</p>

	</footer>

	<script src="bower_components/jquery/dist/jquery.min.js"></script>
	<script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
	<script src="bower_components/angular/angular.min.js"></script>
	<script src="bower_components/angular-route/angular-route.min.js"></script>
	<script src="bower_components/angular-sanitize/angular-sanitize.min.js"></script>

	<script src="assets/libs/php_crud_api_transform.js"></script>
	<script src="assets/libs/ckeditor/ckeditor.js"></script>
	<script src="assets/libs/ng-ckeditor.min.js"></script>

	<script src="app/app.js"></script>
	<script src="app/filters.js"></script>

	<!-- services -->
	<script src="config.js"></script>
	<script src="app/services/UserService.js"></script>
	<script src="app/services/DataService.js"></script>

	<!-- components -->
	<script src="app/components/Article/ArticleController.js"></script>
	<script src="app/components/Auth/AuthController.js"></script>
	<script src="app/components/Match/MatchController.js"></script>
	<script src="app/components/Player/PlayerController.js"></script>
	<script src="app/components/Team/TeamController.js"></script>

	<script>
	</script>

</body>
</html>
