
body {
 /* border: solid 8pt #5555aa; */
 padding-left: 16pt
}
.article { 
 /*  border-bottom: solid 1px #aaaaaa; margin-bottom: 8pt */
}
/* .container { border: solid 2pt #5555aa; } */
#SiteTitle {
  /* border: solid 2pt #5555aa; */
  /* background-color: */
}
.vertTable td { padding: 10px; }

.sortorder:after {
	content: '\25b2';
}
.sortorder.reverse:after {
	content: '\25bc';
}
/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #f5f5f5;
}
.glyphicon {
	margin-right: 6pt;
}

/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

.container {
  width: auto;
  max-width: 680px;
  padding: 0 15px;
}
.container .text-muted {
  margin: 20px 0;
}
